<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>
  
      <h3>Admin Dashboard</h3>



      <div class="row donut_container mb-4 justify-content-start">
        <div class="col-md-3 col-sm-6  my-3">
          <div class="site-container shadow rounded">
            <h4>Site 1</h4>
            <div class="chart_container">
                <div class="d-flex align-items-center justify-content-around">
                    <div>
                        <p>Total Bookings = 6</p>
                     </div>
    
                     
                <div class="pie_chart_container col-md-6 text-center">
                    <!-- Pie Chart -->
                    <div class="pie-chart">
                      <div class="segment segment-leads"></div>
                      <div class="segment segment-contracted"></div>
                      <div class="segment segment-onboarded"></div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="d-flex align-items-center justify-content-around">
                    <div>
                        <p>Total Collection = Rs 1000000</p>
                     </div>
    
                     
                <div class="pie_chart_container col-md-6 text-center">
                    <!-- Pie Chart -->
                    <div class="pie-chart">
                      <div class="segment segment-leads"></div>
                      <div class="segment segment-contracted"></div>
                      <div class="segment segment-onboarded"></div>
                    </div>
                    
                  </div>
                </div>
            </div>
            
           
          </div>
        </div>

        <div class="col-md-3 col-sm-6  my-3">
            <div class="site-container shadow rounded">
              <h4>Site 2</h4>
              <div class="chart_container">
                  <div class="d-flex align-items-center justify-content-around">
                      <div>
                          <p>Total Bookings = 6</p>
                       </div>
      
                       
                  <div class="pie_chart_container col-md-6 text-center">
                      <!-- Pie Chart -->
                      <div class="pie-chart">
                        <div class="segment segment-leads"></div>
                        <div class="segment segment-contracted"></div>
                        <div class="segment segment-onboarded"></div>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="d-flex align-items-center justify-content-around">
                      <div>
                          <p>Total Collection = Rs 1000000</p>
                       </div>
      
                       
                  <div class="pie_chart_container col-md-6 text-center">
                      <!-- Pie Chart -->
                      <div class="pie-chart">
                        <div class="segment segment-leads"></div>
                        <div class="segment segment-contracted"></div>
                        <div class="segment segment-onboarded"></div>
                      </div>
                      
                    </div>
                  </div>
              </div>
              
             
            </div>
          </div>
  
       
      </div>




      
  
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Client’s ID</th>
              <th>Name</th>
              <th>Project</th>
              <th>Unit</th>
              <th>Agreement Value</th>
              <th>Master Data</th>
              <th>Client Ledger</th>
              <th>Amount Received</th>
              <th>Last Update</th>
              <th>Agreement Status</th>
              <th>Loan Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Kiran C</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h3>Best Performers (RM)</h3>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>RM’s Name</th>
              <th>Work Period</th>
              <th>1 Month Sales</th>
              <th>Total Sales</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>