<header class="header d-flex justify-content-end align-items-center">
    <div class="notification me-4">
      
      <img src="./assets/Icons/notification.svg" alt="Notification" class="bell-icon" />
      <span class="notification-dot"></span>
    </div>
    <div class="user-profile d-flex align-items-center">
      <img src="./assets/Icons/profile_img.svg" alt="User" class="profile-pic" />
      <div>
        <p class="user-name mb-0">Prathamesh Jadhav</p>
        <p class="user-role mb-0">RM</p>
      </div>
    </div>
  </header>