<div class="row container-fluid">
    <div class="col-md-2 p-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>
        <h3>< Reports > BDM</h3>
        <div class="container mt-2">
            <!-- Header -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                 
            </div>
          
            <!-- Filters Section -->
            <div class="row mb-4 g-3">
              <div class="col-md-3">
                <div class="d-flex mb-2 align-items-center">
                    <h6 class="card-title">Date</h6>
                  <input type="date" id="dateFrom" class="form-control me-2 small-input" placeholder="From" style="width: 100px;" />
                  <input type="date" id="dateTo" class="form-control small-input" placeholder="To" style="width: 100px;" />
                </div>
              </div>
          
              <div class="col-md-2">
                <select id="project" class="form-select mb-2">
                  <option selected>BDM Name</option>
                </select>
              </div>

              <div class="last_section col-md-3">
                <select id="project" class="form-select mb-2">
                  <option selected>Onboarding Status</option>
                  <option value="Contracted">Contracted</option>
                  <option value="onboarded">onboarded</option>
                  <option value="Work in Progress">Work in Progress</option>
                </select>
              </div>

              
              <div class="last_section col-md-2">
                <select id="project" class="form-select mb-2">
                  <option selected>Draft Type</option>
                  <option value="Initiated">Initiated</option>
                  <option value="Work in Progress">Work in Progress</option>
                  <option value="Completed">Completed</option>
                </select>
              </div>
      </div>
          
           
            
          
      <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Created By</th>
                    <th>Lead ID</th>
                    <th>Project Name</th>
                    <th>Location</th>
                    <th>Created At</th>                    
                    <th>Email ID</th>
                    <th>Phone No.</th>
                    <th>Status</th>
              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lead of leads">
                  <td>{{ lead.created_by_name}}</td>
                    <td>{{ lead.lead_id }}</td>
                    <td>{{ lead.project_name }}</td>
                    <td>{{ lead.location}}</td>
                    <td>{{ lead.created_at | date:'short'}}</td>
                    <td>{{ lead.email_id }}</td>
                    <td>{{ lead.phone_no }}</td>
                    <td>{{ lead.project_completion_status }}</td>
                
                </tr>
            </tbody>
        </table>
    </div>
          </div>
    </div>
</div>