<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>

<h3>< Printer Dashboard</h3>
      <div class="table-responsive mt-2">
        <table class="w-auto table table-bordered text-center align-middle sites">
          <thead class="table-light">
            <tr>
              <th rowspan="2" class="align-middle">Total Requested</th>
              <th colspan="4" class="align-middle">Agreements Printed & Deliverd this Month </th>
            </tr>
            <tr>
              <th>Printed</th>
              <th>Delivered</th>
              <th>Pending</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold fs-4">26</td>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">12</td>
             
            </tr>
          </tbody>
        </table>
        <table class="w-auto table table-bordered text-center align-middle sites">
            <thead class="table-light">
              <tr>
                <th rowspan="2" class="align-middle">Total Requested</th>
                <th colspan="4" class="align-middle">Agreements Printed & Deliverd this Month </th>
              </tr>
              <tr>
                <th>Printed</th>
              <th>Delivered</th>
              <th>Pending</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="fw-bold fs-4">26</td>
                <td class="fw-bold fs-5">7</td>
                <td class="fw-bold fs-5">7</td>
                <td class="fw-bold fs-5">12</td>
               
              </tr>
            </tbody>
          </table>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Client’s ID</th>
              <th>SRN</th>
              <th>Name</th>
              <th>Project</th>
              <th>Unit</th>
              <th>Agreement Value</th>
              <th>Stamp No.</th>
              <th>Prepared by</th>
              <th>TAT</th>
              <th>Print Status</th>
              <th>Delivery Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
           
          </tbody>
        </table>
      </div>

      <div>
        <h2>Schedule for Delivery</h2>
        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Client’s ID</th>
                  <th>SRN</th>
                  <th>Name</th>
                  <th>Project</th>
                  <th>Unit</th>
                  <th>Agreement Value</th>
                  <th>New Demand Amount</th>
                  <th>Date</th>
                  <th>Status</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                
                </tr>
               
              </tbody>
            </table>
          </div>
      </div>

      
      </div>
      </div>