<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>
<h3>< Authority Dashboard</h3>

      <div class="table-responsive mt-2">
        <table class="w-auto table table-bordered text-center align-middle sites">
          <thead class="table-light">
            <tr>
              <th rowspan="2" class="align-middle">Total</th>
              <th colspan="3" class="align-middle">Site 1</th>
            </tr>
            <tr>
              <th>Received</th>
              <th>Pending</th>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold fs-4">26</td>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">12</td>
            </tr>
          </tbody>
        </table>
        <table class="w-auto table table-bordered text-center align-middle sites">
            <thead class="table-light">
              <tr>
                <th rowspan="2" class="align-middle">Total</th>
                <th colspan="3" class="align-middle">Site 2</th>
              </tr>
              <tr>
                <th>Received</th>
                <th>Pending</th>
                <th>Rejected</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="fw-bold fs-4">26</td>
                <td class="fw-bold fs-5">7</td>
                <td class="fw-bold fs-5">7</td>
                <td class="fw-bold fs-5">12</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr. no</th>
              <th>Client Name</th>
              <th>Project</th>
              <th>Unit</th>
              <th>Agreement Value</th>
              <th>Authority Approval Department’s Last Status</th>
              <th>Authority Approval Department’s Letter</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
           
          </tbody>
        </table>
      </div>
      </div>
      </div>