<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>

<h3>Client Manager Dashboard</h3>
      <div class="table-responsive mt-2">
        <table class="w-auto table table-bordered text-center align-middle sites">
          <thead class="table-light">
            <tr>
            
              <th colspan="4" class="align-middle">Current Month Agreements</th>
            </tr>
            <tr>
              <th>Online</th>
              <th>Offline</th>
              <th>Delivered</th>
             
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">7</td>
              <td class="fw-bold fs-5">7</td>   
            </tr>
          </tbody>
        </table>

       
              <div class="pie_chart_container col-md-6 text-center">
                <!-- Pie Chart -->
                <div class="pie-chart">
                  <div class="segment segment-leads"></div>
                  <div class="segment segment-contracted"></div>
                  <div class="segment segment-onboarded"></div>
                </div>
                <!-- Legend -->
                <div class="legend">
                  <div class="legend-item">
                    <span class="dot dot-leads"></span> <b>Online</b>
                  </div>
                  <div class="legend-item">
                    <span class="dot dot-contracted"></span> <b>Offline</b>
                  </div>
                  <div class="legend-item">
                    <span class="dot dot-onboarded"></span> <b>Delivered</b>
                  </div>
                </div>
              </div>
          
              <table class="w-auto table table-bordered text-center align-middle sites">
                <thead class="table-light">
                  <tr>
                  
                    <th colspan="4" class="align-middle">BDM Performance</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="fw-bold">RM Name 1</td>
                    <td class="fw-bold">Rahul</td>
                    
                  </tr>
                  <tr>
                    <td class="fw-bold">RM Name 2</td>
                    <td class="fw-bold">Ravi</td>
                  
                  </tr>
                  <tr>
                    <td class="fw-bold">RM Name 3</td>
                    <td class="fw-bold">Rohan</td>
                     
                  </tr>
                </tbody>
              </table>
          
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>Project ID</th>
                <th>Project</th>
                <th>Added By</th>
                <th>Location</th>
                <th>Total No. of Unit</th>
                <th>Units for Agreement</th>
                <th>Project completion status</th>
                <!-- <th>Onboarding Status</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projects">
              <td>{{ project.project_id }}</td>
              <td>{{ project.project_name }}</td>
              <td>{{ project.created_by_name }}</td>
              <td>{{ project.location }}</td>
              <td>{{ project.total_units }}</td>
              <td>{{ project.units_for_agreements }}</td>
              <td>{{ project.project_completion_status }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <h2>Leads in Pipeline</h2>
        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Lead ID</th>
                  <th>Project</th>
                  <th>Added By</th>
                  <th>Location</th>
                  <th>Total No. of Unit</th>
                  <th>Email ID</th>
                  <th>Phone No.</th>
                  <th>Status</th>
    
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lead of leads">
                  <td>{{ lead.lead_id }}</td>
                  <td>{{ lead.project_name }}</td>
                  <td>{{ lead.created_by_name }}</td>
                  <td>{{ lead.location }}</td>
                  <td>{{ lead.no_of_units }}</td>
                  <td>{{ lead.email_id }}</td>
                  <td>{{ lead.phone_no }}</td>
                  <td>{{ lead.status }}</td>
                </tr>
               
              </tbody>
            </table>
          </div>
      </div>

      <div>
        <h2>Agreement Status</h2>
        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Project ID</th>
                  <th>Project</th>
                  <th>Location</th>
                  <th>Total No. of Unit</th>
                  <th>Online Agreements</th>
                  <th>Offline Agreements</th>
                  <th>Agreements Delivered</th>
    
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let agreement of agreements">
                  <td>{{agreement.project_id}}</td>
                  <td>{{agreement.project_name}}</td>                
                  <td>{{agreement.location}}</td>   
                  <td>{{agreement.total_units}}</td>               
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
               
              </tbody>
            </table>
          </div>
      </div>

      <div>
        <h2>New / Ad-hoc Drafts</h2>
        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Client ID</th>
                  <th>ARN</th>
                  <th>Added By</th>
                  <th>Draft Type</th>
                  <th>Client Name</th>
                  <th>Date</th>
                  <th>TAT</th>
                  <th>Current Status</th>
    
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let addhoc of addhocs">
                  <td>{{addhoc.client_id}}</td>
                  <td>{{addhoc.arn}}</td>
                  <td>{{addhoc.created_by_name}}</td>   
                  <td>{{addhoc.draft_type}}</td>   
                  <td>{{addhoc.client_name}}</td>               
                  <td>{{addhoc.created_at | date:'dd/MM/YYYY'}}</td>
                  <td>{{addhoc.tat | date:'dd/MM/YYYY'}}</td>                
                  <td>{{addhoc.status}}</td>    
                </tr>
               
              </tbody>
            </table>
          </div>
      </div>
      
      </div>
      </div>