
input:focus + .placeholder-text {
    display: none;
  }
  .form{
    margin-left: 1rem;
  }
 .form1{
    /* margin-left: -4rem; */
 }


 .box {
  background-color: #F8F4F4; /* Box color is blue */

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.box + .box {
  margin-top: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #ccc;
}