<div class="row m-0">
    <div class="col-md-2 p-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <div>
            <h3><span style="color: #2B3C4E80;">Request-for ></span> Stampduty & Registeration Fees</h3>

            <div class="formData">
                <div class="col-md-4">
                    <!-- <label for="clientName" class="form-label">Client Name / Client ID*</label> -->
                    <div class="input-group">
                        <input type="text" id="clientName" class="form-control" placeholder="Search Client ID/ Name" style="border-radius: 5px;">
                        <img src="./assets/Icons/search.svg" alt="Search Icon"
                        style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 16px; pointer-events: none;">
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <label for="clientName" class="form-label">Client Name / Client ID*</label> -->
                    <div class="input-group">
                        <input type="text" id="Project" class="form-control" placeholder="Project" style="border-radius: 5px;">
                        
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <label for="clientName" class="form-label">Client Name / Client ID*</label> -->
                    <div class="input-group">
                        <input type="text" id="Unit" class="form-control" placeholder="Unit" style="border-radius: 5px;">
                        
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn" style="background-color: #2B3C4E;color: white;">Submit</button>
                </div>
            </div>

            <div class="table-responsive mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Client’s ID</th>
                            <th>SRN</th>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Unit</th>
                            <th>Agreement Value</th>
                            <th>Stampduty</th>
                            <th>Registeration
                                Amount</th>
                            <th>Client Data Confirmation </th>
                            <th>Request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Send</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container mt-4 p-0">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="table-light">
                      <tr>
                        <th>Client ID</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Unit</th>
                        <th>GRN</th>
                        <th>PDF</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="#">View</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            <div>
                </div>
                </div>
