<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>
  
      <h3>Account Dashboard</h3>



      <div class="row donut_container mb-4 justify-content-start">
        <div class="col-md-3 col-sm-6  my-3">
          <div class="site-container shadow rounded">
            <h4>Site 1</h4>
            <div class="chart_container">
                <div class="d-flex align-items-center justify-content-around">
                    <div>
                        <p>Total Bookings = 6</p>
                     </div>
    
                     
                <div class="pie_chart_container col-md-6 text-center">
                    <!-- Pie Chart -->
                    <div class="pie-chart">
                      <div class="segment segment-leads"></div>
                      <div class="segment segment-contracted"></div>
                      <div class="segment segment-onboarded"></div>
                    </div>
                    
                  </div>
                </div>
                
                <div class="d-flex align-items-center justify-content-around">
                    <div>
                        <p>Total Collection = Rs 1000000</p>
                     </div>
    
                     
                <div class="pie_chart_container col-md-6 text-center">
                    <!-- Pie Chart -->
                    <div class="pie-chart">
                      <div class="segment segment-leads"></div>
                      <div class="segment segment-contracted"></div>
                      <div class="segment segment-onboarded"></div>
                    </div>
                    
                  </div>
                </div>
            </div>
            
           
          </div>
        </div>

        <div class="col-md-3 col-sm-6  my-3">
            <div class="site-container shadow rounded">
              <h4>Site 2</h4>
              <div class="chart_container">
                  <div class="d-flex align-items-center justify-content-around">
                      <div>
                          <p>Total Bookings = 6</p>
                       </div>
      
                       
                  <div class="pie_chart_container col-md-6 text-center">
                      <!-- Pie Chart -->
                      <div class="pie-chart">
                        <div class="segment segment-leads"></div>
                        <div class="segment segment-contracted"></div>
                        <div class="segment segment-onboarded"></div>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="d-flex align-items-center justify-content-around">
                      <div>
                          <p>Total Collection = Rs 1000000</p>
                       </div>
      
                       
                  <div class="pie_chart_container col-md-6 text-center">
                      <!-- Pie Chart -->
                      <div class="pie-chart">
                        <div class="segment segment-leads"></div>
                        <div class="segment segment-contracted"></div>
                        <div class="segment segment-onboarded"></div>
                      </div>
                      
                    </div>
                  </div>
              </div>
              
             
            </div>
          </div>
  
       
      </div>




      <div class="d-flex justify-content-between align-items-center mb-3">
       
        <div class="input-group">
          <div class="form-floating me-2">
            <input type="text" class="form-control" placeholder="Search">
            <label for="searchInput">Search</label>
            <img src="./assets/Icons/search.svg" alt="Search Icon"
              style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 16px; pointer-events: none;">
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" placeholder="Filter">
            <label for="filterInput">Filter</label>
            <img src="./assets/Icons/filter.svg" alt="Filter Icon"
              style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 16px; pointer-events: none;">
          </div>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Client’s ID</th>
              <th>Name</th>
              <th>Project</th>
              <th>Unit</th>
              <th>Agreement Value</th>
              <th>Received Amount</th>
              <th>Last Updated Status</th>
              <th>Agreement Status</th>
              <th>Invoice</th>
              <th>Refund</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>Kiran C</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="color:red">Cancelled</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>