<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet"> -->


<div class="row m-0">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>
      
  
      <div class="container mt-5">
        <div class="row justify-content-around ">
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header  text-white text-center">
                Stamp duty Calculator
              </div>
              <div class="card-body">
                <!-- Add functionality for Stamp duty Calculator here -->
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header  text-white text-center">
                Home Loan Eligibility Calculator
              </div>
              <div class="card-body">
                <!-- Add functionality for Home Loan Eligibility Calculator here -->
              </div>
            </div>
          </div>


          <div class="text-end mt-5">
            <button class="btn btn-dark next-btn">
              Next <i class="fas fa-arrow-right"></i>
            </button>
          </div>
          
          
        </div>
        
      </div>
    </div>
  </div>