<div class="row container-fluid">
    <div class="col-md-2 p-0">
      <app-sidebar></app-sidebar>
    </div>
  
  
    <div class="col-md-10">
  
      <app-header></app-header>

      <h3>< Payments > Miscellaneous</h3>

<div class="container mt-4">
    <!-- First Row -->
    <div class="row mb-3">
      <div class="col-md-2">
        <label for="amount" class="form-label">Rs</label>
        <input type="text" id="amount" class="form-control" placeholder="123" />
      </div>
      <div class="col-md-2">
        <label for="reason" class="form-label">Reason</label>
        <select id="reason" class="form-select">
          <option value=""></option>
         
        </select>
      </div>
      <div class="col-md-3">
        <label for="remark" class="form-label">Remark</label>
        <input type="text" id="remark" class="form-control" placeholder="123" />
      </div>
      <div class="col-md-3">
        <label for="clientId" class="form-label">Client ID</label>
        <input type="text" id="clientId" class="form-control" placeholder="123" />
      </div>
      <div class="col-md-2">
        <label for="date" class="form-label">Date</label>
        <input type="date" id="date" class="form-control" />
      </div>
    </div>
  
    <!-- Second Row -->
    <div class="row mb-3">
    

      <div class="col-md-2">
        <label for="approvedBy" class="form-label">Approved by</label>
        <select id="approvedBy" class="form-select">
          <option value=""></option>
         
        </select>
      </div>
     
      <div class="col-md-1 align-self-end invoice">
        <button class="btn  w-100 text-white">Invoice</button>
      </div>
    </div>
  
    <!-- Table -->
   
        <div class="container mt-4">
            <div class="table-responsive  ">
              <table class="table table-bordered shadow">
                <thead class="table-light">
                  <tr>
                    <th>Client ID</th>
          <th>Client Name</th>
          <th>Type of Payment</th>
          <th>Date</th>
          <th>Remark</th>
          <th>Approved by</th>
                  </tr>
               
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>Kiran C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Kiran C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
   
  </div>