<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <h3 class="fw-bold"> < Team Performance</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Team Member</th>
                        <th>No. of days worked</th>
                        <th>1 Month Sales</th>
                        <th>Sales till date</th>
                        <th>Project Name</th>
                        <th>Sales Target</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kiran C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="formData">
                                <div>
                                    F <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    W <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    S <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    O <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    P <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    Ph <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    D <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Kiran C</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="formData">
                                <div>
                                    F <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    W <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    S <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    O <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    P <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    Ph <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                                <div>
                                    D <select class="form-control form-control-sm d-inline-block">
                                        <option>10</option>
                                        <option>20</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="submit">
            <button class="btn submit_btn" (click)="next()">Next ></button>
        </div>
    </div>
</div>
