<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <h3>< Payments > Certified Copies</h3>

        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Client ID</th>
                  <th>ARN</th>
                  <th>Client Name</th>
                  <th>Project</th>
                  <th>Unit</th>
                  <th>Agreement Value</th>
                  <th>Agreement Status</th>
                  <th>Created by</th>
                  <th>Status</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td>Pune</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                
                </tr>
               
              </tbody>
            </table>
          </div>

        <div class="mt-4">
            
            <!-- First Row -->
            <div class="row mb-4">
                <div class="col-2">
                    <label for="meething_with" class="form-label">Client ID</label>
                    <input type="text" id="meething_with" class="form-control" value="" placeholder="" />
                </div>
                <div class="col-2">
                    <label for="meething_date" class="form-label">ARN</label>
                    <input type="text" id="meething_date" class="form-control" value="" />
                </div>
                <div class="col-2">
                    <label for="meething_time" class="form-label">Client Name</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
                <div class="col-2">
                    <label for="meething_time" class="form-label">Project</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
                <div class="col-2">
                    <label for="meething_time" class="form-label">Unit</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
                <div class="col-2">
                    <label for="meething_time" class="form-label">Agreement Value</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-2">
                    <label for="meething_time" class="form-label">Request</label>
                    <input type="text" id="meething_time" class="form-control" value="" />
                </div>
                <div class="col-2">
                    <label for="meething_time" class="form-label">Challan GRN</label>
                    <input type="text" id="meething_time" class="form-control" value="" />
                </div>
                <div class="col-2">
                    <label for="srn" class="form-label">To be Collected by</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                </div>
                
                    <div class="col-2 d-flex align-items-end mb-2">
                        <button class="btn submit w-100">
                            Submit
                        </button>
                    </div>
                
            </div>

        

            
        </div>

      

    </div>
</div>