<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <h3>Lead Status</h3>

        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Lead ID</th>
                  <th>Project</th>
                  <th>Location</th>
                  <th>Total No. of Unit</th>
                  <th>Project completion status</th>
                  <th>Email ID</th>
                  <th>Phone No.</th>
                  <th>Status</th>
    
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td>Pune</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                 
                
                </tr>
               
              </tbody>
            </table>
          </div>

        <div class="mt-4">
            
            <!-- First Row -->
            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_with" class="form-label">Lead ID</label>
                    <input type="text" id="meething_with" class="form-control" value="" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="meething_date" class="form-label">Project</label>
                    <input type="text" id="meething_date" class="form-control" value="" />
                </div>
                <div class="col-3">
                    <label for="meething_time" class="form-label">Location</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_time" class="form-label">Last Status</label>
                    <input type="text" id="meething_time" class="form-control" value="" />
                </div>
                <div class="col-3">
                    <label for="srn" class="form-label">Update Status</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Project ID</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
            </div>

        

            <div class="d-flex justify-content-start mb-4">
                <div class="col-2 d-flex align-items-end">
                    <button class="btn submit w-100">
                        Submit
                    </button>
                </div>
            </div>
        </div>

      

    </div>
</div>