<div class="row container-fluid p-0">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <div>
            <h3>< Agreement for Resubmission</h3>
            <div class="table-responsive mt-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>Client’s ID</th> -->
                            <th>Client’s ID</th>
                            <th>SRN</th>
                            <th>Name</th>
                            <th>Project</th>
                            <th>Unit</th>
                            <th>Agreement Value</th>
                            <th>Loan</th>
                            <th>Authority Allocation</th>
                            <th>Client Signature Date</th>
                            <th>Last Updated Status</th>
                            <th>Update Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Completed</td>
                        </tr>
                    </tbody>
                </table>


                <div class="row mb-4 p-0 m-0">
                    <div class="col-2">
                        <label for="srn" class="form-label ">SRN</label>
                        <input type="text" id="srn" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label for="clientId" class="form-label ">Client ID</label>
                        <input type="text" id="clientId" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label for="Project" class="form-label">Project</label>
                        <input type="text" id="project" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label for="clientName" class="form-label ">Client Name</label>
                        <input type="text" id="clientName" class="form-control" />
                    </div>
                    <div class="col-2">
                        <label for="Project" class="form-label">Date of agreement</label>
                        <input type="date" id="project" class="form-control" />
                    </div>
                </div>


                <div class="container mt-4">
                    <div class="d-flex row">
                        <div class="" style="width: 15rem;">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-center"> Last Execution Status</h5>
                                    <p class="card-text text-center">Pending
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="" style="width: 15rem;">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-center"> Updated Status</h5>
                                    <p class="card-text text-center">Client’s Signature Done
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 d-flex" style="width: auto;align-items: center;gap:17px;">


                            <div>
                                <button class="btn btn_submit">Submit</button>

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>