<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>
<h3>< Agreement for Delivery</h3>
        <div class="table-responsive mt-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!-- <th>Client’s ID</th> -->
                        <th>Client’s ID</th>
                        <th>SRN</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Unit</th>
                        <th>Agreement Value</th>
                        <th>Print Requested by</th>
                        <th>Delivery to</th>
                        <th>Last Status</th>
                        <th>Update Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>


        </div>

<div class="mt-4">
    <!-- First Row -->
    <div class="row mb-4">
        <div class="col-3">
          <label for="srn" class="form-label">SRN</label>
          <input type="text" id="srn" class="form-control" value="123" />
        </div>
        <div class="col-3">
          <label for="clientId" class="form-label">Client ID</label>
          <input type="text" id="clientId" class="form-control"  value="123"/>
        </div>
        <div class="col-3">
          <label for="clientName" class="form-label">Client Name</label>
          <input type="text" id="clientName" class="form-control" value="Kiran"/>
        </div>
        
       
      </div>

      <div class="row mb-4">
        <div class="col-3">
          <label for="srn" class="form-label">Last Status</label>
          <input type="text" id="srn" class="form-control" value="" />
        </div>
        <div class="col-3">
          <label for="clientId" class="form-label">To Whom</label>
          <input type="text" id="clientId" class="form-control"  value="123"/>
        </div>
        <div class="col-3">
          <label for="clientName" class="form-label">When</label>
          <input type="date" id="clientName" class="form-control" value="Kiran"/>
        </div>
        
       
      </div>

      <div class="row mb-4">
        <div class="col-3">
          <label for="srn" class="form-label">Where</label>
          <input type="text" id="srn" class="form-control" value="XYZ" />
        </div>
        <div class="col-3">
          <label for="clientId" class="form-label">Update Status</label>
          <input type="text" id="clientId" class="form-control"  value=""/>
        </div>
        <div class="col-2 d-flex align-items-end">
            <button
              class="btn submit w-100"
              (click)="onSubmit()"
              
            >
              Submit
            </button>
          </div>
        
      </div>    
      </div>
      
  
</div>
</div>