<div class="row container-fluid">
  <div class="col-md-2 p-0">
    <app-sidebar></app-sidebar>
  </div>


  <div class="col-md-10">

    <app-header></app-header>

    <h3>Account Dashboard</h3>
    <div class="table-responsive mt-2">

      <table class="w-auto table table-bordered text-center align-middle sites">
        <thead class="table-light">
          <tr>
            <th rowspan="2" class="align-middle">Total</th>
            <th colspan="4" class="align-middle">Current Month Agreements</th>
          </tr>
          <tr>
            <th>Offline</th>
            <th>Delivered</th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fw-bold fs-4">14</td>
            <td class="fw-bold fs-5">7</td>
            <td class="fw-bold fs-5">7</td>

          </tr>
        </tbody>
      </table>



      <div class="pie_chart_container col-md-6 text-center">
        <!-- Pie Chart -->
        <div class="pie-chart">
          <div class="segment segment-leads"></div>
          <div class="segment segment-contracted"></div>
          <div class="segment segment-onboarded"></div>
        </div>
        <!-- Legend -->
        <div class="legend">
          <div class="legend-item">
            <span class="dot dot-leads"></span> <b>Online</b>
          </div>
          <div class="legend-item">
            <span class="dot dot-contracted"></span> <b>Delivered</b>
          </div>
        </div>
      </div>


    </div>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Project</th>
            <th>Unit</th>
            <th>Agreement Value</th>
            <th>Stampduty</th>
            <th>Registeration Fees</th>
            <th>Legal Fees</th>
            <th>GRN</th>
            <th>Agreement Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="color: #E8394B;">Unpaid</td>
            <td style="color: #389704;">Paid</td>
            <td style="color: #E8394B;">Unpaid</td>
            <td></td>
            <td></td>

          </tr>

        </tbody>
      </table>
    </div>

    <div>
      <h2>Ad-hoc Work</h2>
      <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr>

              <th>Client ID</th>
              <th>Client Name</th>
              <th>Type of Agreement</th>
              <th>Fees</th>
              <th>Stampduty</th>
              <th>Last Status</th>



            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td style="color: #389704;">Paid</td>
              <td style="color: #E8394B;">Unpaid</td>
              <td></td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h2>Request Status</h2>
      <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Client ID</th>
              <th>Client Name</th>
              <th>Project</th>
              <th>Unit</th>
              <th>Agreement Value</th>
              <th>Agreement Status</th>
              <th>Created by</th>
              <th>Request</th>
              <th>Request Status</th>


            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>